.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 0;
  flex: 1;
}

.row {
  font-size: 1.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  gap: 0.4rem;
  padding-bottom: 0.2rem;
  border-bottom: solid 1px #ccc;
}

.cacheKey {
  font-weight: bold;
}

.nav {
  font-size: 1.2rem;
  text-align: center;
}

.title {
  display: inline-block;
  padding-inline-end: 1rem;
  line-height: 1.15;
  font-size: 3rem;
  text-align: center;
}
